<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolateygui" />
  <package id="git" packageParameters="/NoShellIntegration"/>
  <package id="dotnetcore-sdk" />
  <package id="GoogleChrome" />
  <package id="adblockpluschrome" />
  <package id="Firefox" />
  <package id="adblockplus-firefox" />
  <package id="vscode" />
  <package id="path-copy-copy" />
  <package id="7zip" />
  <package id="cmder" />
  <package id="anaconda3" />
  <package id="beyondcompare" />
  <package id="linqpad5" />
  <package id="nodejs" />
  <package id="postman" />
  <package id="SourceTree" />
  <package id="xmind" />
  <package id="commandwindowhere" />
  <package id="jetbrainstoolbox" />
  <package id="nvm" />
  <package id="greenshot" />
  <package id="1password" />
  <package id="docker-desktop" />
  <package id="adobereader" />
  <package id="ueli" />
  <package id="rocketdock" />
</packages>